body {
    background: #ff00cc; 
    background: linear-gradient(to right, #ff00cc, #333399);
    font-family: sans-serif;
    background-size: 100% 400%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

.login {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 20%;
}

#name {
    margin: 12px;
    padding: 10px 35px;
}

button {
    padding: 5px;
    margin: 10px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #6397ff;
    background: linear-gradient(to right, #333399, #ff00cc);
    color: white;
}

.welcomeText {
    width: 100%;
    height: 50%;
    border-bottom: 1px white solid;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.pointDisplay {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.cardContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 3px #000000;
}

.card {
    display: flex;
    align-items: end;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    width: 350px;
    height: 370px;
    margin: 10px;
    opacity: 0.5;
    position: relative;
    animation-duration: 3s;
    animation-iteration-count: 2;
    transition: opacity 0.5s;
    translate: (0, 0, 0);
}

@keyframes doda {
    0%   {left: 0px;}
    25%  {left:-50px;}
    50%  {left: 50px;}
    75%  {left:-50px;}
    100% {left: 0px;}
  }

.card:hover {
    opacity: 1;
}

#cardMath{
    background-image: url(images/math.jpg);
}
#cardGeog{
    background-image: url(images/geo.jpg);
}
#cardBio{
    background-image: url(images/bio.png);
}
#cardHist{
    background-image: url(images/hist.jpg);
}

.questions {
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-shadow: 2px 5px  2px black;
}

#questionImage {
    width: 350px;
    height: 230px;
}

.questions img {
    border: 3px solid white;
    width: 450px;
    border-radius: 15px;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.answer {
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-image: linear-gradient(52deg, blue, red);
}

.points {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.point {
    border: 1px solid black;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 30px;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pointButton {
    padding: 30px;
    font-size: 40px;
    font-weight: 600;
}

@media (max-width: 400px) {
    .login {
        padding: 50px;
        margin-top: 20%;
        margin-bottom: 20%;
        text-align: center;
    }
    .card {
        width: 150px;
        height: 150px;
        font-size: 9px;
        margin: 6px;
        text-align: center;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 18px;
    }
    .questions {
        padding: 10px;
        height: 300px;
        text-align: center;
    }
    #questionImage {
        width: 250px;
        height: 130px;
    }
    .answers {
        margin-top: 80px;
    }
    .answer {
        margin: 10px;
        width: 140px;
        height: 70px;
        font-size: 20px;
        text-align: center;
    }
    .point {
        margin-top: 40%;
        padding: 30px;    
    }
}