body {
    background: #ff00cc; 
    background: linear-gradient(to right, #ff00cc, #333399);
    font-family: sans-serif;
    background-size: 100% 400%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

.login {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name {
    margin: 12px;
    padding: 10px 35px;
}

button {
    padding: 5px;
    margin: 10px;
    width: 240px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #6397ff;
    background: linear-gradient(to right, #333399, #ff00cc);
    color: white;
}

.welcomeText {
    width: 100%;
    height: 50%;
    border-bottom: 1px white solid;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.pointDisplay {
    text-align: center;
    color: rgb(255, 255, 255);
}

.cardContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 3px #000000;
}

.card {
    display: flex;
    align-items: end;
    justify-content: center;
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    width: 370px;
    height: 370px;
    margin: 10px;
    cursor: pointer;
}

.card:hover {
    border: 2px solid rgb(64, 255, 0);
}

#cardMath{
    background-image: url(images/math.jpg);
}
#cardGeog{
    background-image: url(images/geo.jpg);
}
#cardBio{
    background-image: url(images/bio.png);
}
#cardHist{
    background-image: url(images/hist.jpg);
}

.questions {
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

#questionImage {
    width: 350px;
    height: 230px;
}

.questions img {
    border: 3px solid white;
    width: 450px;
    border-radius: 15px;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.answer {
    flex: 1 1 33%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-image: linear-gradient(52deg, blue, red);
}

.points {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.point {
    background-color: rgb(0, 0, 0, 0.3);
    padding: 30px;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
}

.pointButton {
    padding: 30px;
    font-size: 40px;
    font-weight: 600;
}

@media (max-width: 450px) {
    .card {
        text-align: center;
        height: 200px;
    }
    .questions {
        height: 40vh;
        text-align: center;
    }
    #questionImage {
        width: 250px;
        height: 130px;
    }
    .answers {
        margin-top: 10px;
    }
    .answer {
        flex: 1 1 50%;
        margin: 10px;
        height: 70px;
    }
    .point {
        margin-top: 40%;
        padding: 30px;    
    }
}